#bod{
  background-color: rgb(203, 203, 202);
}
.navbar{
    position: fixed;
    width:100%;
    transition: background-color 1s;

  }

  .logo{
    width: 232px;
    margin: 42px;

  }
  .header{
    background-color: #593196;
    height: 233px;
  }
  .devHeader{
    background-color: #593196;
    height: 61px;
    margin-top: 19px;
  }
  .header-box{
    margin-right: 33px;
    display: flex;

    align-items: center;

  }
  .title-header{
   margin-left: 310px;
    color: rgb(242, 242, 242);
    font-size: 62px;
  }



  .rect{
    width:100%;
    height:100vh;
  }
  #green{
    background-color:#559065;
  }
  #blue{
    background-color:#7eb3a7;
  }
