

.container-xl{
    max-width: 1700px !important;
    display: flex;
    margin-left: 0px !important;
    align-items: center;
}

.navbar-vertical.navbar-expand-xs {

    background-image: linear-gradient(195deg, #6632b1 0%, #191919 100%) !important;

    margin-top: 98px !important;
}

.tableEdit{
    margin-left: 385px !important;
    width: 1224px !important;
    margin-top: -216px !important;
}
.tableRes{
margin-top: -600px !important;
}

.searchInput{
    border-style: solid !important;
    border-width: 1px !important;
    color: #6632b1 !important;
    width: 300px !important;


}
.searchInput::placeholder{
    padding-left: 10px !important;
}
.searchEdit{
    border-style: solid !important;
    border-width: 1px !important;
    color: #6632b1 !important;
    width: 300px !important;


}
.searchEdit::placeholder{
    color: #6632b1 !important;

    padding-left: 10px !important;
}
.Input::placeholder{
    padding-left: 10px !important;
}
.title{
    color: white !important;
}
.inputHidden{
    border-style: solid !important;
    border-width: 1px !important;
    color: white !important;
}

.navlogo{
  width: 100px !important;
  margin-left: 97px !important;
  margin-top: -11px !important;}
